<%- include('./partials/header'); -%>


<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .message__container {
        /* border: solid 2px red; */
        flex: 1;
        display: flex;
        align-items: center;
    }
    
    .message__position{
        /* border: solid 2px blue; */
        display: inline-block;
        width: 100%;
        padding: 0 var(--spacing-68);
        flex-direction: column;
    }

    .message__title{
        font-family: var(--alternative-font);
        font-size: var(--font-xlarge);
        color: var(--dark-color-solid);
        margin-bottom: var(--spacing-16)
    }

    .message__descript, .message__data{
        font-family: var(--alternative-font);
        color: var(--dark-color-solid);
        font-family: var(--primary-font);
        font-size: var(--font-small);
        font-weight: 400;
        margin-bottom: var(--spacing-16);
        white-space: pre-wrap;  /* Propiedad para que sea intepretado el Salto de linea con "/n" y ademas respete los multiples espacios seguidos */
    }
</style>


<main class="message__container">
    <section class="message__position container">
        <h1 class="message__title"><%= messageTitle %></h1>
        <p class="message__descript"><%= messageDescript %></p>
        <p class="message__data"><%= messageData %></p>
    </section>
</main>


<%- include('./partials/footer'); -%> 

<!-- Vinculacion con Libreria Iconify 1.0.7 -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

</body>
</html>