<%- include('../partials/header'); -%>

<div class="shopcontainer container">
    <aside  class="asidefilter">
        <!-- <form action=""> -->
            <label class="asidefilter__tags" for="">BUSCAR</label>
            <input id="search-textinput" class="asidefilter__textinput" type="text" placeholder="Nombre o Licencia">
            
            <label class="asidefilter__tags" for="">ORDENAR POR</label>
            <select class="asidefilter__select selectempty" name="order" id="order">
                <option value="opc1">Mayor a Menor</option>
                <option value="opc2">Menor a Mayor</option>
            </select>
            
            <label class="asidefilter__tags" for="">PRECIO</label>
            <span class="asidefilter__tagsMM">MIN</span>
            <input class="asidefilter__textinputMM" type="text" placeholder="0">
            <span class="asidefilter__tagsMM">- MAX</span>
            <input class="asidefilter__textinputMM" type="text" placeholder="0">
            
            <label class="asidefilter__tags" for="">FILTRAR</label>
            <p class="asidefilter__checkoptions"><input class="asidefilter_checkbox" type="checkbox">NUEVOS</p>
            <p class="asidefilter__checkoptions"><input class="asidefilter_checkbox" type="checkbox">OFERTAS</p>
            <p class="asidefilter__checkoptions"><input class="asidefilter_checkbox" type="checkbox">EDICION ESPECIAL</p>
            <p class="asidefilter__checkoptions"><input class="asidefilter_checkbox" type="checkbox">FAVORITOS</p>
        <!-- </form> -->
    </aside>
    <main class="main__articles">            
            <% if (dataRecibida.length > 0){ %>               
                <ul id="shop-items-list" class="card__container">
                        <% dataRecibida.forEach(productoRecibido => { %>
                            <li class="slider__card">
                                <article class="card__container">
                                    <a class="card__link" href="/shop/item/<%= productoRecibido.prod_id%>">
                                            <picture class="card__imagecontainer">
                                                <% if (productoRecibido.prod_nuevo == true){ %><span class="card__newprod">NUEVO</span><% } %>
                                                <img class="card__prodimage" src="<%= productoRecibido.prod_imagen_frontal %>" alt="Producto StormTrooper">
                                                <img class="card__boximage" src="<%= productoRecibido.prod_imagen_trasera %>" alt="Caja StormTrooper">
                                            </picture>
                                            <div class="card__detailscontainer">
                                                <h3 class="card__prodfamily"><%= productoRecibido.prod_licencia %></h3>
                                                <h2 class="card__prodname"><%= productoRecibido.prod_nombre %></h2>
                                                <p class="card__prodprice">$&nbsp;<%= productoRecibido.prod_precio %></p>
                                                <p class="card__prodbill"><%= productoRecibido.prod_cuotas %><% if (productoRecibido.prod_intereses == true){ %> CUOTAS CON INTERÉS <% } else { %> CUOTAS SIN INTERÉS  <% } %></p>
                                            </div>
                                        </a>                                
                                </article>
                            </li>
                        <% }) %>
                    </ul>        
                <nav class="paginator__navbar">
        
                    <a href="#" class="paginator__button" ><iconify-icon class="paginator__buttonicon" icon="material-symbols:chevron-left"></iconify-icon></a>
                    <a href="#" class="paginator__button shopselectedpage" ><span class="paginator__buttoncontent shopselectedpagecontent">1</span></a>
                    <a href="#" class="paginator__button" ><span class="paginator__buttoncontent">2</span></iconify-icon></a>
                    <a href="#" class="paginator__button" ><span class="paginator__buttoncontent">...</span></iconify-icon></a>
                    <a href="#" class="paginator__button" ><span class="paginator__buttoncontent">9</span></iconify-icon></a>
                    <a href="#" class="paginator__button" ><span class="paginator__buttoncontent">10</span></iconify-icon></a>
                    <a href="#" class="paginator__button" ><iconify-icon class="paginator__buttonicon" icon="material-symbols:chevron-right"></iconify-icon></a>
        
                </nav>
                <% } else { %>
                    <section class="alert alert-danger alert-dismissible fade show aviso" role="alert">
                        <iconify-icon icon="mdi:error-outline" width="50" height="50"></iconify-icon>Su búsqueda no arrojó resultados, intente nuevamente.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </section> 
                <% }; %>
        
<!--

        TODA ESTA INFORMACION ESTATICA DE LAS CARDS AHORA LA GENERA EJS DINAMICAMENTE RECIBIENDO DATA DEL BACKEND  <------------------------------

                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                                <picture class="card__imagecontainer">
                                    <span class="card__newprod">NUEVO</span>
                                    <img class="card__prodimage" src="../images/star-wars/trooper-1.webp" alt="Producto StormTrooper">
                                    <img class="card__boximage" src="../images/star-wars/trooper-box.webp" alt="Caja StormTrooper">
                                </picture>
                                <div class="card__detailscontainer">
                                    <h3 class="card__prodfamily">STAR WARS</h3>
                                    <h2 class="card__prodname">STORMTROOPER LIGHTSABER</h2>
                                    <p class="card__prodprice">$ 1799,99</p>
                                    <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                                </div>
                            </a>                                
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                            <picture class="card__imagecontainer">
                                <span class="card__newprod">NUEVO</span>
                                <img class="card__prodimage" src="../images/pokemon/pidgeotto-1.webp" alt="Producto Pidgeotto">
                                <img class="card__boximage" src="../images/pokemon/pidgeotto-box.webp" alt="Caja Pidgeotto">
                            </picture>
                            <div class="card__detailscontainer">
                                <h3 class="card__prodfamily">POKEMON</h3>
                                <h2 class="card__prodname">PIDGEOTTO</h2>
                                <p class="card__prodprice">$ 1799,99</p>
                                <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                            <picture class="card__imagecontainer">
                                <span class="card__newprod">NUEVO</span>
                                <img class="card__prodimage" src="../images/harry-potter/luna-1.webp" alt="Producto Luna Lovegood">
                                <img class="card__boximage" src="../images/harry-potter/luna-box.webp" alt="Caja Luna Lovegood">
                            </picture>
                            <div class="card__detailscontainer">
                                <h3 class="card__prodfamily">HARRY POTTER</h3>
                                <h2 class="card__prodname">LUNA LOVEGOOD LION MASK</h2>
                                <p class="card__prodprice">$ 1799,99</p>
                                <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                                <picture class="card__imagecontainer">
                                    <span class="card__newprod">NUEVO</span>
                                    <img class="card__prodimage" src="../images/star-wars/trooper-1.webp" alt="Producto StormTrooper">
                                    <img class="card__boximage" src="../images/star-wars/trooper-box.webp" alt="Caja StormTrooper">
                                </picture>
                                <div class="card__detailscontainer">
                                    <h3 class="card__prodfamily">STAR WARS</h3>
                                    <h2 class="card__prodname">STORMTROOPER LIGHTSABER</h2>
                                    <p class="card__prodprice">$ 1799,99</p>
                                    <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                                </div>
                            </a>                                
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                            <picture class="card__imagecontainer">
                                <span class="card__newprod">NUEVO</span>
                                <img class="card__prodimage" src="../images/pokemon/pidgeotto-1.webp" alt="Producto Pidgeotto">
                                <img class="card__boximage" src="../images/pokemon/pidgeotto-box.webp" alt="Caja Pidgeotto">
                            </picture>
                            <div class="card__detailscontainer">
                                <h3 class="card__prodfamily">POKEMON</h3>
                                <h2 class="card__prodname">PIDGEOTTO</h2>
                                <p class="card__prodprice">$ 1799,99</p>
                                <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                            <picture class="card__imagecontainer">
                                <span class="card__newprod">NUEVO</span>
                                <img class="card__prodimage" src="../images/harry-potter/luna-1.webp" alt="Producto Luna Lovegood">
                                <img class="card__boximage" src="../images/harry-potter/luna-box.webp" alt="Caja Luna Lovegood">
                            </picture>
                            <div class="card__detailscontainer">
                                <h3 class="card__prodfamily">HARRY POTTER</h3>
                                <h2 class="card__prodname">LUNA LOVEGOOD LION MASK</h2>
                                <p class="card__prodprice">$ 1799,99</p>
                                <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                                <picture class="card__imagecontainer">
                                    <span class="card__newprod">NUEVO</span>
                                    <img class="card__prodimage" src="../images/star-wars/trooper-1.webp" alt="Producto StormTrooper">
                                    <img class="card__boximage" src="../images/star-wars/trooper-box.webp" alt="Caja StormTrooper">
                                </picture>
                                <div class="card__detailscontainer">
                                    <h3 class="card__prodfamily">STAR WARS</h3>
                                    <h2 class="card__prodname">STORMTROOPER LIGHTSABER</h2>
                                    <p class="card__prodprice">$ 1799,99</p>
                                    <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                                </div>
                            </a>                                
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                            <picture class="card__imagecontainer">
                                <span class="card__newprod">NUEVO</span>
                                <img class="card__prodimage" src="../images/pokemon/pidgeotto-1.webp" alt="Producto Pidgeotto">
                                <img class="card__boximage" src="../images/pokemon/pidgeotto-box.webp" alt="Caja Pidgeotto">
                            </picture>
                            <div class="card__detailscontainer">
                                <h3 class="card__prodfamily">POKEMON</h3>
                                <h2 class="card__prodname">PIDGEOTTO</h2>
                                <p class="card__prodprice">$ 1799,99</p>
                                <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider__card">
                    <article class="card__container">
                        <a class="card__link" href="#">
                            <picture class="card__imagecontainer">
                                <span class="card__newprod">NUEVO</span>
                                <img class="card__prodimage" src="../images/harry-potter/luna-1.webp" alt="Producto Luna Lovegood">
                                <img class="card__boximage" src="../images/harry-potter/luna-box.webp" alt="Caja Luna Lovegood">
                            </picture>
                            <div class="card__detailscontainer">
                                <h3 class="card__prodfamily">HARRY POTTER</h3>
                                <h2 class="card__prodname">LUNA LOVEGOOD LION MASK</h2>
                                <p class="card__prodprice">$ 1799,99</p>
                                <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
-->                    
    </main>
</div>
<%- include('../partials/footer'); -%>
    <!-- Vinculacion con Libreria Iconify 1.0.7 -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    <Script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></Script>
    <script src="/js/shop.js"></script>
</body>
</html>