<%- include('../partials/header'); -%>

    <main>
        <section class="edit container">
            <article class="edit_form">
                <h1 class="edit_form__title">EDITAR ITEM</h1>

                <% if (dataProductoEditando && dataProductoEditando.length > 0) { %>

                        <% dataProductoEditando.forEach(producto => { %>

                            <form action="/admin/edit/<%= producto.prod_id %>?_method=PUT" method="POST">
                                <div class="edit_form__row">
                                    <div class="edit_form__select">
                                        <label class="edit_label" for="categoria">Categoría:</label>
                                        <select class="edit_select" name="categoria" id="categoria">
                                            <!--<option value="" disabled selected>Seleccionar</option>-->
                                            <option value="Figura">Figura</option>
                                            <option value="Remera">Remera</option>
                                            <option value="LLavero">LLavero</option>
                                        </select>

                                        <label class="edit_label" for="licencia">Licencia:</label>
                                        <select class="edit_select" name="licencia" id="licencia">
                                            <!--<option value="" disabled selected>Seleccionar</option>-->
                                            <option value="STAR WARS">STAR WARS</option>
                                            <option value="POKEMON">POKEMON</option>
                                            <option value="HARRY POTTER">HARRY POTTER</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="edit_form__input">
                                    <label class="edit_label" for="nombre_producto">Nombre del producto:</label>
                                    <input class="edit_input edit_nombre_prod" type="text" name="nombre_producto" id="nombre_producto" value="<%= producto.prod_nombre %>">
                                </div>
                                <div class="edit_form__textarea">
                                    <textarea class="edit_textarea" name="descripcion" rows="10" cols="40" ><%= producto.prod_descripcion %></textarea>
                                </div>
                                <div class="edit_form__row">
                                    <div class="edit_form__input">
                                        <label class="edit_label" for="sku">SKU:</label>
                                        <input class="edit_input edit_cuadro1" type="text" name="sku" id="sku" value="<%= producto.prod_sku %>">
                                    </div>
                                    <div class="edit_form__input">
                                        <label class="edit_label" for="precio">Precio:</label>
                                        <input class="edit_input edit_cuadro1" type="text" name="precio" id="precio" value="<%= producto.prod_precio %>">
                                    </div>
                                    <div class="edit_form__input">
                                        <label class="edit_label" for="stock">Stock:</label>
                                        <input class="edit_input edit_cuadro2" type="number" name="stock" id="stock">
                                    </div>
                                </div>
                                <div class="edit_form__row">
                                    <div class="edit_form__input">
                                        <label class="edit_label" for="descuento">Descuento:</label>
                                        <input class="edit_input edit_cuadro2" type="number" name="descuento" id="descuento">
                                    </div>
                                    <div class="edit_form__select">
                                        <label class="edit_label" for="cuotas">Cuotas:</label>
                                        <select class="edit_select" name="cuotas" id="cuotas">
                                            <option value="3-Sin">3 Cuotas sin interés</option>
                                            <option value="6-Sin">6 Cuotas sin interés</option>
                                            <option value="12-Sin">12 Cuotas sin interés</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="edit_form__imagenes">
                                    <div class="edit_form__row">
                                        <label class="edit_label" for="imagenes_producto">Imágenes:</label>
                                        <input class="edit_input edit_img_producto" type="file" name="imagenes_producto" id="imagenes_producto">
                                    </div>
                                    <div class="img-preview_grid">
                                        <picture class="edit_picture">
                                            <img id="img-preview__frente" src="<%= producto.prod_imagen_frontal %>" alt="Imagen del frente del producto">
                                        </picture>
                                        <picture class="edit_picture">
                                            <img id="img-preview__dorso" src="<%= producto.prod_imagen_trasera %>" alt="Imagen del dorso del producto">
                                        </picture>
                                        <div class="edit_label-line-top">
                                            <p class="edit_label_img">Frente</p>
                                        </div>
                                        <div class="edit_label-line-top">
                                            <p class="edit_label_img">Dorso</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="button_modificarProducto" type="submit">Modificar Producto</button>
                            </form>

                        <% }) %>

                <% } else { %>
                    
                    <section style="margin:50px 250px; gap:50px"  class="alert alert-danger alert-dismissible fade show aviso" role="alert">
                        <iconify-icon icon="mdi:error-outline" width="70" height="70"></iconify-icon>El ID de producto solicitado No Existe
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </section> 
                         
                <% } %>

        </section>
    </main>

<%- include('../partials/footer'); -%>
    
    <!-- Vinculacion con Libreria Iconify 1.0.7 -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    <Script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></Script>
</body>
</html>