<section class="slider__container glide">
            
    <h2 class="slider__title">úLTIMOS LANZAMIENTOS</h2>
    
    <div class="glide__track" data-glide-el="track">

        <ul id="jsContainer_Slider" class="slider__list glide__slides">

            <% dataRecibidaSlider.forEach(productoRecibido => { %>

                <li class="slider__card glide__slide">
                    <article class="card__container">
                        <a class="card__link" href="/shop/item/<%= productoRecibido.prod_id%>">
                            <picture class="card__imagecontainer">
                                <% if (productoRecibido.prod_nuevo == true){ %><span class="card__newprod">NUEVO</span><% } %>
                                <img class="card__prodimage" src="<%= productoRecibido.prod_imagen_frontal %>" alt="Imagen Producto <%= productoRecibido.prod_nombre %>">
                                <img class="card__boximage" src="<%= productoRecibido.prod_imagen_trasera %>" alt="Imagen Caja <%= productoRecibido.prod_nombre %>">
                            </picture>
                            <div class="card__detailscontainer">
                                <h3 class="card__prodfamily"><%= productoRecibido.prod_licencia %></h3>
                                <h2 class="card__prodname"><%= productoRecibido.prod_nombre %></h2>
                                <p class="card__prodprice">$&nbsp;<%= productoRecibido.prod_precio %></p>
                                <p class="card__prodbill"><%= productoRecibido.prod_cuotas %><% if (productoRecibido.prod_intereses == true){ %> CUOTAS CON INTERÉS <% } else { %> CUOTAS SIN INTERÉS  <% } %></p>
                            </div>
                        </a>                                
                    </article>
                </li>
        
            <% }) %>


<!--                 

        TODA ESTA INFORMACION ESTATICA DE LAS CARDS AHORA LA GENERA EJS DINAMICAMENTE RECIBIENDO DATA DEL BACKEND  <------------------------------

            <li class="slider__card glide__slide">
                <article class="card__container">
                    <a class="card__link" href="#">
                        <picture class="card__imagecontainer">
                            <span class="card__newprod">NUEVO</span>
                            <img class="card__prodimage" src="../images/star-wars/trooper-1.webp" alt="Producto StormTrooper">
                            <img class="card__boximage" src="../images/star-wars/trooper-box.webp" alt="Caja StormTrooper">
                        </picture>
                        <div class="card__detailscontainer">
                            <h3 class="card__prodfamily">STAR WARS</h3>
                            <h2 class="card__prodname">STORMTROOPER LIGHTSABER</h2>
                            <p class="card__prodprice">$ 1799,99</p>
                            <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>                                
                </article>
            </li>
            <li class="slider__card glide__slide">
                <article class="card__container">
                    <a class="card__link" href="#">
                        <picture class="card__imagecontainer">
                            <span class="card__newprod">NUEVO</span>
                            <img class="card__prodimage" src="../images/pokemon/pidgeotto-1.webp" alt="Producto Pidgeotto">
                            <img class="card__boximage" src="../images/pokemon/pidgeotto-box.webp" alt="Caja Pidgeotto">
                        </picture>
                        <div class="card__detailscontainer">
                            <h3 class="card__prodfamily">POKEMON</h3>
                            <h2 class="card__prodname">PIDGEOTTO</h2>
                            <p class="card__prodprice">$ 1799,99</p>
                            <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__card glide__slide">
                <article class="card__container">
                    <a class="card__link" href="#">
                        <picture class="card__imagecontainer">
                            <span class="card__newprod">NUEVO</span>
                            <img class="card__prodimage" src="../images/harry-potter/luna-1.webp" alt="Producto Luna Lovegood">
                            <img class="card__boximage" src="../images/harry-potter/luna-box.webp" alt="Caja Luna Lovegood">
                        </picture>
                        <div class="card__detailscontainer">
                            <h3 class="card__prodfamily">HARRY POTTER</h3>
                            <h2 class="card__prodname">LUNA LOVEGOOD LION MASK</h2>
                            <p class="card__prodprice">$ 1799,99</p>
                            <p class="card__prodbill">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li>
-->   

        </ul>

        <div data-glide-el="controls">
            <button data-glide-dir="<">
                <div class="slider__button left"><iconify-icon class="slider__buttonicon" icon="material-symbols:chevron-left"></iconify-icon></div>
            </button>
            <button data-glide-dir=">">
                <div class="slider__button right"><iconify-icon class="slider__buttonicon" icon="material-symbols:chevron-right"></iconify-icon></div>                
            </button>
        </div>
        
    </div>

</section>


<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/slider-glide.js"></script>